<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="container">
  <ul class="nav navbar-nav navbar-right">
    <%= link_to "Powered By Food2Fork.com", "http://food2fork.com", id: "logo" %>
   
  </div>

</header></ul>